@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Roboto:wght@400;700&display=swap");

body {
  font-family: Arial, Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #1f1f1f 0%, #414141 100%);
  font-size: 30px;
}
.container {
  padding: 30px;
  border-radius: 30px;
  background-color: black;
}
.row {
  display: flex;
}
.result {
  color: white;
  width: 50px;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0 0 0 270px;
  font-size: 40px;
}
.button {
  background-color: #505050;
  color: white;
  border-radius: 50%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  cursor: pointer;
}
.button:hover,
#zero:hover {
  background-color: #969393;
}
#zero {
  width: 151px;
  border-radius: 30px;
  background-color: #505050;
}
#modulo,
#clear,
#pos-neg {
  color: black;
  background-color: #eeeee9;
}
#modulo:hover,
#clear:hover,
#pos-neg:hover {
  background-color: rgb(88, 88, 88);
}

#multiply,
#subtract,
#addition,
#equals,
#divide {
  background-color: #ff9500;
}

#multiply:hover,
#subtract:hover,
#addition:hover,
#equals:hover,
#divide:hover {
  color: #ff9500;
  background-color: #eeeee9;
}
